html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: system-ui;
}

#blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#instructions {
  color: #fff;
  font-size: 18px;
  padding: 12px 18px;
  background: rgb(0 0 0 / 60%);
  border-radius: 6px;
  cursor: pointer;
}
